CMakeLists.txt
cmake-build-debug
/.idea/.gitignore
/.idea/CPUSim.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/8bitMicroSim.iml
Instructions.xlsx
ProgrammersGuide.docx
/microsim
assembler
.vscode/launch.json
.gitignore
.vscode/tasks.json
Assembler
test.bin
